default_config:

homeassistant:
  auth_mfa_modules:
    - type: totp
  customize: !include customize.yaml

http:
  base_url: !secret http__base_url
  ssl_certificate: /ssl/fullchain.pem
  ssl_key: /ssl/privkey.pem
  ip_ban_enabled: true
  login_attempts_threshold: 4

tts:
  - platform: google_translate

group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

google_assistant: !include google_assistant.yaml

badnest:
  issue_token: !secret badnest__issue_token
  cookie: !secret badnest__cookie
  region: us

nuheat:
  username: !secret nuheat__username
  password: !secret nuheat__password
  devices:
    - 1499730
    - 1499589

wemo:
  static:
    - 192.168.4.199
    - 192.168.4.198
    - 192.168.4.197

# smartthinq:
#   token: !secret smartthinq__token
#   region: US
#   language: en-US

logger:

climate:
  - platform: badnest
    scan_interval: 10
  - platform: nuheat

frontend:
  themes: !include_dir_merge_named themes

pi_hole:
  host: !secret pi_hole__host
  ssl: true
  verify_ssl: false
