default_config:

homeassistant:
  auth_mfa_modules:
    - type: totp
  customize: !include customize.yaml

lovelace:
  mode: yaml
  resources:
    - type: module
      url: /hacsfiles/custom-header/custom-header.js
    - type: module
      url: /hacsfiles/lovelace-slider-entity-row/slider-entity-row.js
    - type: module
      url: /hacsfiles/mini-graph-card/mini-graph-card-bundle.js
    - type: module
      url: /hacsfiles/mini-media-player/mini-media-player-bundle.js
    - type: js
      url: /hacsfiles/vertical-stack-in-card/vertical-stack-in-card.js

http:
  base_url: !secret http__base_url
  ssl_certificate: /ssl/fullchain.pem
  ssl_key: /ssl/privkey.pem
  ip_ban_enabled: true
  login_attempts_threshold: 4

tts:
  - platform: google_translate

group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

google_assistant: !include google_assistant.yaml

nest:
  client_id: !secret nest__client_id
  client_secret: !secret nest__client_secret
  project_id: !secret nest__project_id
  subscriber_id: !secret nest__subscriber_id

nuheat:
  username: !secret nuheat__username
  password: !secret nuheat__password
  devices:
    - 1499730
    - 1499589

wemo:
  static:
    - 192.168.4.199
    - 192.168.4.198
    - 192.168.4.197
    - 192.168.4.196

sensor: !include sensors.yaml
switch: !include switches.yaml

# smartthinq:
#   token: !secret smartthinq__token
#   region: US
#   language: en-US

logger:

climate:
  - platform: nuheat

frontend:
  themes: !include_dir_merge_named themes
